.navbar {
  grid-column: 2;
  grid-row: 1;
  border-bottom: #343638;
  border-style: ridge;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  
}
.navbar li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  
}

.navbar a {
  text-decoration: none;
  color: #343638;
  font-weight: bold;
  
}
