.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "content"
    "footer";

  /* background-color: #4b566a; */
}

article {
  grid-area: content;
  text-align: center;
}

article p {
  font-family: "Times New Roman", Times, serif;
}


