.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr;
  grid-template-areas:
    "nav"
    "content"
    "footer";
}

.main {
  grid-area: content;
  text-align: center;
}

.main p {
  font-family: "Times New Roman", Times, serif;
}

#main-image {
  border-radius: 12px;
  max-width: 80%;
  height: auto;
}

.buttons {
  background-color: rgb(112, 255, 167);
  /* border: hidden; */
  border-radius: 5px;
  margin: 1svh;
  cursor: pointer;
  font-size: 1em;
  
}

.game-inputs {
  border: solid;
  border-radius: 8px;
  appearance: none;
  font-size: 1em;
  background-color: rgb(112, 255, 167);
}
