    <div class="grid">
      <nav class="navbar">
        <ul id="nav-ul">
          <li><a href="/">Hjem</a></li>
          <li><a href="/prosjekter">Prosjekter</a></li>
          <li><a href="/webutvikling">Webutvikling</a></li>
        </ul>
      </nav>