<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../views/partials/header'); %>

    <article class="main">
      <img src="shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="monitor showing code" id="main-image">
      <h1>Velkommen til Digitale Talenter</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit et
        dolore amet illum ratione, hic exercitationem optio excepturi ullam
        culpa expedita voluptatibus nulla ipsum rem nisi minus ipsa cumque!
        Doloribus esse animi natus facilis distinctio odio consequuntur quas
        incidunt hic porro architecto minima, maxime veniam quisquam quo,
        voluptates dolorem?
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, minus.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      </ul>
    </article>

    <%- include('../views/partials/footer'); %>
  </body>
</html>
