<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('../views/partials/header'); %>
    <main class="main">
      <img src="/dmitriy-demidov-iuuJC_pjLU0-unsplash.jpg" alt="" id="main-image">
      <h1>Prosjekter</h1>
      <hr>
            <ul style="padding: 0;">
        <li><a href="./guessthenumber">Guess the Number</a></li>
        <li><a href="/">Lorem Ipsum Dolor</a></li>
        <li><a href="/">Consectetur Adipisicing</a></li>
      </ul>
    </main>

    <%- include('../views/partials/footer'); %>
  </body>
</html>
