<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('../views/partials/nav'); %>
    <section>
      <h1>Prosjekter</h1>
    </section>
  </body>
</html>
