<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('../views/partials/header'); %>
    <main class="main">
      <img src="dmitriy-demidov-iuuJC_pjLU0-unsplash.jpg" alt="" id="main-image">
      <h1>Prosjekter</h1>
      <hr>
    </main>

    <%- include('../views/partials/footer'); %>
  </body>
</html>
